.container {
    padding: 0 10px;
    cursor: pointer;
    position: relative;
    background: #F8F9FB;
    display: flex;
    align-items: center;
}

.svgClass {
    fill: #333;
    stroke-width: 100px;
}

.stroke1 {
    stroke: #02C797;
    stroke-dasharray: 2;
}

.stroke2 {
    stroke: #1991EB;
    stroke-dasharray: 2;
}

.stroke0 {
    stroke: black;
    stroke-dasharray: 2;
    stroke-dashoffset: 2;
    stroke-linecap: butt;
}

.firstPerson {
    color: #02C797;
}

.secondPerson {
    color: #1991EB;
}

.firstPerson, .secondPerson {
    font-weight: 600;
    line-height: 16px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.graph {
    flex: 10;
}

.person {
    flex: 1;
}